.amount {
	color: #85bb65;
	font-size: 32px;
	font-weight: 700;
	text-align: right
}

.item-amount {
	display: inline-block;
	color: #85bb65;
	font-size: 22px;
	font-weight: 700;
	text-align: right;
	width: 100%
}

.info-item {
	border-top: solid 1px #ccc
}